<div class="login-container">
  <h2>Riiklik Lemmikloomaregister</h2>
  <h3>Logi sisse</h3>

  <div class="login-box">
    <div>
      <label>Kasutajanimi</label>
      <input type="text" [(ngModel)]="username" placeholder="Kasutajanimi" />
    </div>

    <div>
      <label>Parool</label>
      <input type="password" [(ngModel)]="password" placeholder="Parool" />
    </div>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

    <button (click)="onLogin()">Logi sisse</button>
  </div>
</div>